###NetBeans###

nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

*RealMap.txt
*Test.txt
*history.txt

###Java###

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ControlPanel/nbproject/private/
/module3/nbproject/private/
/ClipsMonitorCore/nbproject/private/
/CLIPSJNI/nbproject/private/
/Configurator/nbproject/private/
org.json/nbproject/private/
